<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    {{> head}}
    <link rel="stylesheet" href="chessboard-1.0.0.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chess:wght@400&display=swap">
</head>
<body>

    <div class="container">
        <div id="myBoard"></div>
        <div class="info-container">
            <div id="chessSymbol"></div>
            <div id="status"></div>
            <div id="pgn"></div>

        </div>
    </div>

    <script>
        let playerColor = '{{color}}';
        console.log('Playing as ' + playerColor);
    </script>
    <script src="/public/js/index.js"></script>

</body>
</html>
